<!DOCTYPE HTML PUBLIC"-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Email Signature</title>
<meta content="text/html; charset=utf-8"http-equiv="Content-Type">
</head>
<body>

<table style="width: 424px; font-size: 10pt; font-family: Arial, sans-serif;; line-height:normal;" cellpadding="0" cellspacing="0" border="0">
<tbody>

	<tr>
		<td style="padding-right:15px; border-right:1px solid #317a00;" width="150" style="width:150px; vertical-align: top;" valign="top" align="center">
				<a href="{logoURL}" target="_blank"><img width="81" border="0" alt="Logo" style="border:0;max-width:150px" src="sajib.png"></a>
		</td>
		
		<td style="padding-left:15px; vertical-align: top; font-size:9pt" valign="top">
	
			<strong style="font-size:10pt; font-family: Arial, sans-serif;; color: #317a00;;">SAJIB HOSSAIN</strong><br>
			<span style="font-size:10pt; font-family: Arial, sans-serif;; color: #000000;; padding-bottom:5px;">WEB DESIGNER</span><br>

			<br>
			
			<span  style="font-family: Arial, sans-serif;; color:#000000;;"><span style="font-weight:bold; color:#317a00;; ">T: </span>+8801305823787<br></span>
			<span  style="font-family: Arial, sans-serif;; color:#000000;; "><span style="font-weight:bold; color:#317a00;; ">M: </span>+8801745318601<br></span>
			<span  style="font-family: Arial, sans-serif;; color:#000000;; "><span style="font-weight:bold; color:#317a00;; ">E: </span>mdsajibhossain912@gmail.com<br></span>

			<br><span ng-if="showField('company')" style="font-size: 9pt; font-family: Arial, sans-serif;; color: #000000;;">Atrai,Naogaon,Rajshahi</span>
			<br><span ng-if="showField('address1')" style="font-size: 9pt; font-family: Arial, sans-serif;; color: #000000;;">Bangladesh</span>
			<br><span ng-if="showField('address2')" style="font-size: 9pt; font-family: Arial, sans-serif;; color: #000000;;">Web design of banner</span>

			<br><br>

		</td>
	</tr>
	
	<tr>
		<td align="center" style="border-right:1px solid #317a00;">
				<a href="{facebookURL}"target="_blank"><img alt="Facebook icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" src="fb.png"></a>&nbsp;
				<a href="{linkedinURL}"target="_blank"><img alt="LinkedIn icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" src="ln.png"></a>&nbsp;
				<a href="{twitterURL}"target="_blank"><img alt="Twitter icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" src="tt.png"></a>&nbsp;
				<a href="{youtubeURL}"target="_blank"><img alt="Youtube icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" src="yt.png"></a>&nbsp;
				<a href="{instagramURL}" target="_blank"><img alt="Instagram icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" src="it.png"></a>&nbsp;
				<a href="{pinterestURL}" target="_blank"><img alt="Pinterest icon" border="0" width="18" height="18" style="border:0; height:18px; width:18px" src="pt.png"></a>	
		</td>
		<td style="padding-left:15px;">
			<a href="http://{website}" target="_blank"><span style="font-size:9pt; font-family: Arial, sans-serif;; color:#317a00;; font-weight:bold"></span></a>
		</td>		
	</tr>	

	
	<tr>
		<td width="424" style="width:424px;padding-top:15px;" colspan="2">
			<a href="{bannerURL}" target="_blank" rel="noopener"><img border="0" src="banner2.png" alt="Banner" style="max-width:424px; height:auto; border:0;"></a>
		</td>
	</tr>
	
</tbody>
</table>

</body>
</html>